<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link activ"<%= link_to 'Wikinimous', articles_path %></a>
  </li>

  <li class="nav-item">
    <a class="nav-link activ" <%= link_to 'Ajoutez un article', new_article_path %></a>
  </li>
</ul>

  <body>
    <%= yield %>
     <script src="https://kit.fontawesome.com/db43f25753.js"></script>
  </body>
</html>
